.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    max-width: 350px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: var(--link-color);
    color: #222;
    transition: transform 200ms ease-in-out;
    border: 1px solid var(--link-border-color);
    border: 1px solid #222;
    padding: 10px;
    border-radius: 30px;
    height: 400px;
    padding-top: 20px;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--project-title-color);
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
